<div class="row">
    {{#each cards}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/cards/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                {{#if description}}
                <p class="card-text">
                    {{description}}
                </p>
                {{/if}}
                <p class="card-text">
                    <strong>Estado: </strong>
                    {{status}}
                </p>
                <button class="btn btn-danger btn-block btn-sm">
                    Eliminar
                </button>

 
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">
                Aún no hay tarjetas creadas
            </p>
            <a href="/cards/add" class="btn btn-success btn-block">¡Crea una!</a>
        </div>
    </div>

    {{/each}}
</div>